{{set . "title" "Ringing In Ross"}}
{{append . "scripts" "//npmcdn.com/react@15.3.1/dist/react.js"}}
{{append . "scripts" "//npmcdn.com/react-dom@15.3.1/dist/react-dom.js"}}
{{append . "scripts" "//npmcdn.com/babel-core@5.8.38/browser.min.js"}}
{{append . "scripts" "//npmcdn.com/remarkable@1.6.2/dist/remarkable.min.js"}}
{{append . "moreReactScripts" "/public/js/react/app.js"}}
{{template "header.html" .}}
    <article id="rsvp" class="container box style3">
    </article>
{{template "footer.html" .}}