{{set . "title" "Ringing In Ross"}}
{{template "header.html" .}}

<!--<header class="jumbotron" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <h1>It works!</h1>
      <p></p>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>-->

		<!-- Header -->
			<section id="header">
				<header>
					<h1>Ringing in Ross</h1>
					<p>The Wedding of Eunice and Josh</p>
				</header>
				<footer>
					<a href="#banner" class="button style2 scrolly-middle">Scroll for details</a>
				</footer>
			</section>

		<!-- Banner -->
			<section id="banner">
				<header>
					<h2>The Ceremony and Reception</h2>
				</header>
				<p>
					In Sonoma County, California at <a href="#vintners" class="scrolly-middle">Vintners Inn</a><br />
					&#10024; Saturday, December 31st, 2016 6:30PM to 12:30AM &#10024;
				</p>
				<br/>
				<p>
					Dress to Impress<br/>
					Women in full-length gowns or cocktail dresses<br/>
					Men in darker color suits or black for your core pieces
				</p>
				<footer>
					<!-- <a href="#rsvp" class="button style2 scrolly">RSVP Here</a> -->
					RSVP coming soon!
				</footer>
			</section>

		<!-- Feature 1 -->
			<article id="first" class="container box style1 right">
				<span class="image fit introduction"><img src="/public/img/pic01.jpg" alt="" /></span>
				<div class="inner">
					<header>
						<h2>How We Met</h2>
					</header>
					<p>
						It happened to be the last game of the 2012 World Series when we first met where we found ourselves at the same bar to watch all the action.
						We were introduced by our mutual friend who invited us to come out. We hit it off almost immediately- that is until after Josh stopped smelling Eunice’s hair.
					</p>
				</div>
			</article>

		<!-- Feature 2 -->
			<article id="second" class="container box style1 left group">
				<span class="image fit proposal"><img src="/public/img/pic02.jpg" alt="" /></span>
				<div class="inner">
					<header>
						<h2>The Proposal</h2>
					</header>
					<p>
						It was a warm July day in Park City Utah when Josh planned a hike to Lake Blanche, a beautiful mountaintop lake where the trail climbs over 2,700 feet in 3 miles.
						Needless to say, Eunice was not a fan. There were talks that she'd received a "snicker bar" as a reward from the grueling hike.
						In the end, there was a memorable proposal complete with a picturesque backdrop.
					</p>
				</div>
			</article>

		<!-- Portfolio -->
			<article class="container box style2">
				<header>
					<h2>The Wedding Party</h2>
					<p>Our Nearest and Dearest</p>
				</header>
				<div class="inner gallery">
					<div class="row 0%">
						<div class="3u 12u(mobile)">
							<a href="/public/img/fulls/jerall.png" class="image fit"><img src="/public/img/thumbs/jerall.png" alt="" title="Jerall" />Jerall</a>
						</div>
						<div class="3u 12u(mobile)">
							<a href="/public/img/fulls/christine.png" class="image fit"><img src="/public/img/thumbs/christine.png" alt="" title="Christine" />Christine</a>
						</div>
					</div>
					<div class="row 0%">
						<div class="3u 12u(mobile)">
							<a href="/public/img/fulls/lackey.png" class="image fit"><img src="/public/img/thumbs/lackey.png" alt="" title="Jon L" />Jon L</a>
						</div>
						<div class="3u 12u(mobile)">
							<a href="/public/img/fulls/vera.png" class="image fit"><img src="/public/img/thumbs/vera.png" alt="" title="Vera" />Vera</a>
						</div>
					</div>
					<div class="row 0%">
						<div class="3u 12u(mobile)">
							<a href="/public/img/fulls/trey.png" class="image fit"><img src="/public/img/thumbs/trey.png" alt="" title="Trey" />Trey</a>
						</div>
						<div class="3u 12u(mobile)">
							<a href="/public/img/fulls/april.png" class="image fit"><img src="/public/img/thumbs/april.png" alt="" title="April" />April</a>
						</div>
					</div>
					<div class="row 0%">
						<div class="3u 12u(mobile)">
							<a href="/public/img/fulls/kishpaugh.png" class="image fit"><img src="/public/img/thumbs/kishpaugh.png" alt="" title="Jon K" />Jon K</a>
						</div>
						<div class="3u 12u(mobile)">
							<a href="/public/img/fulls/christena.png" class="image fit"><img src="/public/img/thumbs/christena.png" alt="" title="Christena" />Christena</a>
						</div>
					</div>
					<div class="row 0%">
						<div class="3u 12u(mobile)">
							<a href="/public/img/fulls/ned.png" class="image fit"><img src="/public/img/thumbs/ned.png" alt="" title="Ned" />Ned</a>
						</div>
						<div class="3u 12u(mobile)">
							<a href="/public/img/fulls/rohei.png" class="image fit"><img src="/public/img/thumbs/rohei.png" alt="" title="Rohei"/>Rohei</a>
						</div>
					</div>
				</div>
			</article>

			<section id="accommodations" class="container box style2">
				<header>
					<h2>Accommodations</h2>
				</header>
			</section>

			<!-- Feature 3 -->
			<article id="best-western" class="container box style1 left group">
				<span class="image fit"><img src="/public/img/pic04.jpg" alt="" /></span>
				<div class="inner">
					<header>
						<h2><a href="http://book.bestwestern.com/bestwestern/US/CA/Santa-Rosa-hotels/BEST-WESTERN-PLUS-Wine-Country-Inn---Suites/Hotel-Overview.do?propertyCode=05685" target="_blank">
							Best Western Wine Country Inn
						</a></h2>
					</header>
					<p>
						We’ve reserved a block of rooms at a rate of $99.99 plus tax. Please reference or enter the code Tanos-Ross Wedding when booking.
						In order to secure the discounted rate, please book by November 15th.
						No minimum night stay and pets allowed, <a href="https://goo.gl/maps/3oejWAxPjm32" target="_blank">2.4 miles away</a>.
					</p>
				</div>
			</article>

			<article id="vintners" class="container box style1 right group">
				<span class="image fit"><img src="/public/img/pic03.jpg" alt="" /></span>
				<div class="inner">
					<header>
						<h2><a href="http://www.vintnersinn.com/" target="_blank">Vintners Inn</a></h2>
					</header>
					<p>
						The ceremony and reception will take place here.
						We’ve reserved a block of rooms at a rate of $280-$400 per night plus tax (two night minimum stay).
						<!--The ceremony and reception will take place here so if you are looking for a mini getaway and something conveniently located,-->
						<!--we suggest booking this location.  -->
						Rooms can be reserved by calling 800-421-2584 and referencing the Tanos/Ross Wedding.
					</p>
				</div>
			</article>

			<article id="airbnb" class="container box style1 left group">
				<span class="image fit"><img src="/public/img/pic06.jpg" alt="" /></span>
				<div class="inner">
					<header>
						<h2><a href="https://www.airbnb.com/s/Santa-Rosa--CA--United-States?checkin=12%2F30%2F2016&checkout=01%2F01%2F2017&guests=4&zoom=12&search_by_map=true&sw_lat=38.38530712647014&sw_lng=-122.89298415335907&ne_lat=38.59586314422703&ne_lng=-122.64304518851532&ss_id=iigx3d4j&s_tag=SP9Hi-_P" target="_blank">Airbnb</a></h2>
					</header>
					<p>
						You’re welcome to rent a place in the Santa Rosa Area through Airbnb, there are plenty within
						a 15 mile radius of <a href="https://goo.gl/maps/b9K2ZJzQ8Bt" target="_blank">the venue</a>.  When
						you RSVP, please let us know if you decide to go this route.
					</p>
				</div>
			</article>

			<article id="hilton" class="container box style1 right group">
				<span class="image fit"><img src="/public/img/pic05.jpg" alt="" /></span>
				<div class="inner">
					<header>
						<h2><a href="http://www.hiltonsonomahotel.com/" target="_blank">Hilton Sonoma Hotel</a></h2>
					</header>
					<p>
						There are some rooms at a rate of $116 plus tax per room. Please reference or select
						<a href="http://www.hiltonsonomahotel.com/sonoma-hotel-group-bookings.shtml" target="_blank">Courtesy Social Rate</a> when booking.
						No minimum night stay and pets allowed, <a href="https://goo.gl/maps/N9gSpMa2WZ42" target="_blank">2.8 miles away</a>.
					</p>
				</div>
			</article>

			<article id="registry" class="container box style3">
				<header>
					<h2><a href="https://www.honeyfund.com/wedding/Ringinginross" target="_blank">Registry</a></h2>
				</header>
				<p>
					We are very grateful to have everything we need for our home together.
					So in lieu of traditional housewares we hope you enjoy browsing
					<a href="https://www.honeyfund.com/wedding/Ringinginross" target="_blank">our "experience" registry</a>.
					We are headed to the Philippines and Australia for our honeymoon!
				</p>
			</article>


		<!-- Contact -->
			<article id="rsvp" class="container box style3">
				<header>
					<h2>RSVP</h2>
					<p>
						Check back soon to RSVP!<br/>
						<!--Please RSVP by Thanksgiving Day, Thursday November 24, 2016.<br />-->
						We look forward to celebrating with you!<br/>

						<!--Please fill out the form below to RSVP.-->
					</p>
				</header>
				<!--<form method="post" action="/rsvp">-->
					<!--<div class="row 50%">-->
						<!--<div class="6u 12u$(mobile)"><input type="text" class="text" name="first_name" placeholder="First Name" /></div>-->
						<!--<div class="6u$ 12u$(mobile)"><input type="text" class="text" name="last_name" placeholder="Last Name" /></div>-->
						<!--<div class="12u$">-->
							<!--<textarea name="message" placeholder="Message"></textarea>-->
						<!--</div>-->
						<!--<div class="12u$">-->
							<!--<ul class="actions">-->
								<!--<li><input type="submit" value="Next" /></li>-->
							<!--</ul>-->
						<!--</div>-->
					<!--</div>-->
				<!--</form>-->
			</article>

{{template "footer.html" .}}
