<!DOCTYPE html>

<html>
  <head>
    <title>{{.title}}</title>
    <link rel="dns-prefetch" href="//fonts.googleapis.com/">
    <link rel="dns-prefetch" href="//npmcdn.com/">
    <link rel="dns-prefetch" href="//cdnjs.cloudflare.com/">
    <link rel="dns-prefetch" href="//ringinginross.com/">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="//npmcdn.com/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/public/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<link rel="shortcut icon" href="/public/img/favicon.ico" type="image/x-icon">
    <script src="//npmcdn.com/jquery@2.2.4"></script>
    <script src="//npmcdn.com/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    {{range .scripts}}
      <script src="{{.}}"></script>
    {{end}}
    {{range .moreStyles}}
      <link rel="stylesheet" type="text/css" href="/public/{{.}}">
    {{end}}
  </head>
  <body>
